@mixin btn {
    color: $colour-white;
    background: linear-gradient($colour-secondary,$colour-primary);
    outline:none;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight:400;
    padding: 1rem;
    margin-top:2rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.356);
    transition:0.5s;
    &:hover{
        filter: brightness(115%);
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}

$breakpoints: (
    tablet:768px,
    laptop:1025px,
    desktop:1200px
);
@mixin tablet-only{
    @media screen and (min-width:map-get($breakpoints,tablet)) {
        @content;
    }
}
@mixin laptop-only{
    @media screen and (min-width: map-get($breakpoints,laptop)){
        @content;
    }
}
@mixin desktop-only{
    @media screen and (min-width: map-get($breakpoints,desktop)){
        @content;
    }
}
