$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #fff;
$colour-invalid: #833235;
$colour-lightgrey:#f6f6f6;
$colour-darkgrey:#eaeaea;

$heading-shadow-size: .50rem;
$layout-margin: 6rem;
